/* Give your page a fun background color */
body{
  background-color: #FFD8CC;
}
/* Make the header and footer a different color from the background */
footer{
  background-color: #84A5B8;
}
/* Align the h1 containing your name in the center of the header*/
h1{
  text-align: center;
}
/* Make your p tag a different color and italic */
p{
  color: #FFFAFA;
}
/* Put a border around your image */
img{
  border: 3px solid #630436;
}
/* Change the font-family of your list */
ul{
  font-family: serif;
}
h1{
  font-family: sans-serif;
  color: #66082C;
}
